In [1]:
import pandas as pd 
import numpy as np
import scipy.stats as sps
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing 
from decimal import *
%matplotlib inline
sns.set(rc={'figure.figsize':(10,6)})
sns.set(font_scale=1.5,style = 'white')

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
%%time
df = pd.read_excel('NY property 1 million.xlsx')

CPU times: user 5min 23s, sys: 1.78 s, total: 5min 25s
Wall time: 5min 24s

In [4]:
Original_data = df

In [5]:
Original_data.shape

(1048575, 30)

# Clean Data

## Fill 0 value in LTFRONT, LTDEPTH, BLDFRONT, BLDDEPTH, AVTOT2

In [191]:
df[(0< df.LTFRONT) & (df.LTFRONT < np.percentile(df[['LTFRONT']], 97, axis = 0)[0])][['LTFRONT']].mean()

LTFRONT   34.08
dtype: float64

In [192]:
df[(0< df.LTDEPTH) & (df.LTDEPTH < np.percentile(df[['LTDEPTH']], 97, axis = 0)[0])][['LTDEPTH']].mean()

LTDEPTH   97.77
dtype: float64

In [193]:
df[(0< df.BLDFRONT) & (df.BLDFRONT < np.percentile(df[['BLDFRONT']], 97, axis = 0)[0])][['BLDFRONT']].mean()

BLDFRONT   23.70
dtype: float64

In [194]:
df[(0< df.BLDDEPTH) & (df.BLDDEPTH < np.percentile(df[['BLDDEPTH']], 97, axis = 0)[0])][['BLDDEPTH']].mean()

BLDDEPTH   45.71
dtype: float64

In [195]:
df[(0< df.FULLVAL) & (df.FULLVAL < np.percentile(df[['FULLVAL']], 97, axis = 0)[0])][['FULLVAL']].mean()

FULLVAL   485698.19
dtype: float64

In [196]:
df[(0< df.AVLAND) & (df.AVLAND < np.percentile(df[['AVLAND']], 97, axis = 0)[0])][['AVLAND']].mean()

AVLAND   20478.79
dtype: float64

In [197]:
df[(0< df.AVTOT) & (df.AVTOT < np.percentile(df[['AVTOT']], 97, axis = 0)[0])][['AVTOT']].mean()

AVTOT   55217.61
dtype: float64

In [198]:
df[(0< df.EXLAND) & (df.EXLAND < np.percentile(df[['EXLAND']], 97, axis = 0)[0])][['EXLAND']].mean()

EXLAND   3285.06
dtype: float64

In [199]:
df[(0< df.EXTOT) & (df.EXTOT < np.percentile(df[['EXTOT']], 97, axis = 0)[0])][['EXTOT']].mean()

EXTOT   9291.67
dtype: float64

In [200]:
df['LTFRONT'].replace(0,34.08, inplace = True)
df['LTDEPTH'].replace(0,97.77, inplace = True)
df['BLDFRONT'].replace(0,23.70, inplace = True)
df['BLDDEPTH'].replace(0,45.71, inplace = True)
df['AVTOT2'].replace(0,236292.73, inplace = True)
df['FULLVAL'].replace(0,485698.19, inplace = True)
df['AVLAND'].replace(0,20478.79, inplace = True)
df['AVTOT'].replace(0,55217.61, inplace = True)
df['EXLAND'].replace(0,3285.06, inplace = True)
df['EXTOT'].replace(0,9291.67, inplace = True)

## Fill ZIP

In [201]:
fill_zip = df[['RECORD','BBLE','ZIP']]

In [202]:
fill_zip['bb'] = fill_zip['BBLE'].str[:6]

/Users/yuanhu/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [203]:
fill_zip.sort_values(['bb'], inplace = True)

/Users/yuanhu/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [204]:
fill_zip['ZIP'].fillna(method = 'ffill', inplace = True)
fill_zip.sort_values(['RECORD'], inplace = True)

/Users/yuanhu/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Fill AVTOT2

In [205]:
df['AVTOT2'].fillna(df['AVTOT'],inplace = True)

In [206]:
df['AVLAND2'].fillna(df['AVLAND'],inplace = True)

## Fill STORIES

In [207]:
fill_stories = df[['STORIES','BLDGCL','TAXCLASS']]

In [208]:
%%time
fill_stories['STORIES'] = fill_stories.groupby('BLDGCL').transform(lambda x: x.fillna(x.mean()))
fill_stories['STORIES'] = fill_stories.groupby('TAXCLASS').transform(lambda x: x.fillna(x.mean()))

/Users/yuanhu/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

CPU times: user 2min 2s, sys: 16.7 s, total: 2min 19s
Wall time: 2min 19s

/Users/yuanhu/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [209]:
fill_stories.head()

   STORIES BLDGCL TAXCLASS
0     2.00     B1        1
1     3.00     A5        1
2     5.00     V0       1B
3     5.00     V0       1B
4     1.80     U6        3

## Fill EASEMENT

In [210]:
df['EASEMENT'].replace({'E': '1', 'F': '1', 'H': '1', 'G': '1', 'I': '1', 'N': '1', 'J': '1', 'L': '1', 'U': '1', 'K': '1', 'P': '1', 'M': '1'},inplace = True)

In [211]:
df.EASEMENT = df.EASEMENT.fillna(0)

In [212]:
df['EASEMENT'].value_counts()

0    1044532
1       4043
Name: EASEMENT, dtype: int64

In [213]:
df['BORO'] = df['BBLE'].str[0]

In [214]:
df1 = df.drop(['ZIP', 'STORIES','RECORD','TAXCLASS', 'BBLE', 'BLDGCL' ], axis=1)

In [215]:
df = pd.concat([fill_zip,fill_stories,df1],axis = 1)

In [216]:
df.AVTOT.head()

0   19537.00
1   21312.00
2      81.00
3    1940.00
4   55217.61
Name: AVTOT, dtype: float64

In [217]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1048565,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574
RECORD,1,2,3,4,5,6,7,8,9,10,...,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574,1048575
BBLE,3046020035,5046820019,3074790028,4027980132,1006950027E,4031810007,4051861001,3082020064,4052570008,3070780050,...,1016767504,5024503210,5009450026,5017900100E,3053530059,3018100006,2039432739,1010381069,4015640031,3024950042
ZIP,11203.00,10306.00,11235.00,11378.00,10011.00,11375.00,11355.00,11236.00,11358.00,11223.00,...,10029.00,10314.00,10306.00,10314.00,11218.00,11216.00,10462.00,10036.00,11373.00,11222.00
bb,304602,504682,307479,402798,100695,403181,405186,308202,405257,307078,...,101676,502450,500945,501790,305353,301810,203943,101038,401564,302495
STORIES,2.00,3.00,5.00,5.00,1.80,2.00,6.00,2.00,2.00,2.00,...,11.00,2.00,2.00,1.00,3.00,4.00,8.00,43.00,2.70,3.00
BLDGCL,B1,A5,V0,V0,U6,A5,R5,B1,A1,C0,...,R0,R3,A1,Z7,C2,C2,R4,R4,B1,C1
TAXCLASS,1,1,1B,1B,3,1,4,1,1,1,...,2,1A,1,4,2A,2A,2,2,1,2
BLOCK,4602,4682,7479,2798,695,3181,5186,8202,5257,7078,...,1676,2450,945,1790,5353,1810,3943,1038,1564,2495
LOT,35,19,28,132,27,7,1001,64,8,50,...,7504,3210,26,100,59,6,2739,1069,31,42
EASEMENT,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
OWNER,DESMOND CAMPBELL,CINISOMO MARIO,GANGICHIODO DONALD,DCAS,CONRAIL,BERGERSON ERIC W,GOLDEN HUANG LLC,"SPICER, CLINTON",SILVIA SIPAVICIUS,ABHAS CHAUDHURI,...,NaN,ANTHONY FALCONE,ROBERT EDWARDS,NYC DEPT OF HIGHWAYS,"LORENTI, NORBERTO","309 TOMPKINS AVE.,",PARKCHESTER PRESERVAT,NaN,LUIS F JUELA,MANHATTAN AVE ASSOCS
LTFRONT,18.00,25.00,16.00,21.00,34.08,20.00,34.08,24.00,40.00,24.00,...,75.00,34.08,40.00,30.00,23.00,25.00,34.08,34.08,25.00,50.00
LTDEPTH,100.00,100.00,19.00,75.00,97.77,100.00,97.77,100.00,96.00,100.00,...,75.00,97.77,96.00,311.00,125.00,100.00,97.77,97.77,100.00,95.00
FULLVAL,407000.00,415000.00,128000.00,112613.00,485698.19,582000.00,539000.00,416000.00,660000.00,702000.00,...,485698.19,260440.00,493000.00,14900.00,371000.00,461000.00,33329.00,222404.00,825000.00,503000.00
AVLAND,12337.00,13301.00,81.00,1940.00,20478.79,17802.00,30960.00,13966.00,14418.00,18091.00,...,20478.79,852.00,17993.00,6705.00,1874.00,1555.00,4867.00,5944.00,16344.00,42750.00
AVTOT,19537.00,21312.00,81.00,1940.00,55217.61,29859.00,242550.00,22345.00,38064.00,29672.00,...,55217.61,9367.00,28615.00,6705.00,58435.00,44540.00,14998.00,100082.00,29700.00,226350.00
EXLAND,1620.00,1620.00,3285.06,3285.06,3285.06,3285.06,3285.06,3285.06,3285.06,1620.00,...,3285.06,3285.06,1620.00,6705.00,3285.06,3285.06,3285.06,1606.00,1620.00,3285.06
EXTOT,1620.00,1620.00,9291.67,9291.67,9291.67,9291.67,9291.67,9291.67,9291.67,1620.00,...,9291.67,9291.67,1620.00,6705.00,9291.67,9291.67,3757.00,95744.00,1620.00,9291.67
EXCD1,1017.00,1017.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1017.00,...,NaN,NaN,1017.00,2262.00,NaN,NaN,1920.00,5110.00,1017.00,NaN
STADDR,140 EAST 49 STREET,537 AMHERST AVENUE,COYLE STREET,MAZEAU STREET,WEST 23 STREET,90-07 68 AVENUE,43-55 KISSENA BOULEVARD,1200 EAST 95 STREET,172-16 33 AVENUE,1983 WEST 11 STREET,...,2019 1 AVENUE,133 PIERPONT PLACE,35 WALNUT PLACE,GULF AVENUE,553 MC DONALD AVENUE,309 TOMPKINS AVENUE,1558 UNIONPORT ROAD,306 WEST 48 STREET,41-50 BENHAM STREET,1085 MANHATTAN AVENUE
EXMPTCL,X7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,X1,NaN,NaN,NaN,NaN,NaN,NaN
BLDFRONT,18.00,14.00,23.70,23.70,23.70,20.00,23.70,20.00,21.00,18.00,...,75.00,23.70,25.00,23.70,23.00,25.00,23.70,23.00,20.00,50.00
BLDDEPTH,36.00,51.00,45.71,45.71,45.71,37.00,45.71,44.00,49.00,65.00,...,75.00,45.71,44.00,45.71,69.00,65.00,45.71,100.00,40.00,85.00
AVLAND2,12337.00,13301.00,81.00,1940.00,20478.79,17802.00,30960.00,13966.00,14418.00,18091.00,...,20478.79,852.00,17993.00,5994.00,1874.00,1555.00,3298.00,5212.00,16344.00,27558.00
AVTOT2,19537.00,21312.00,81.00,1940.00,55217.61,29859.00,268740.00,22345.00,38064.00,29672.00,...,55217.61,9367.00,28615.00,5994.00,58435.00,44540.00,13425.00,100856.00,29700.00,252360.00
EXLAND2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5994.00,NaN,NaN,NaN,874.00,NaN,NaN
EXTOT2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5994.00,NaN,NaN,3757.00,96518.00,NaN,NaN
EXCD2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PERIOD,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,...,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL,FINAL
YEAR,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,...,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11,2010/11
VALTYPE,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,...,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR,AC-TR
BORO,3,5,3,4,1,4,4,3,4,3,...,1,5,5,5,3,3,2,1,4,3

In [218]:
df.shape

(1048575, 32)

## Missing Value and Zero Values

### STORIES

In [219]:
len(df[df.STORIES.isnull()])

0

In [220]:
len(df[df.STORIES == 0])

0

### LTFRONT

In [221]:
len(df[df.LTFRONT == 0])

0

### LTDEPTH

In [222]:
len(df[df.LTDEPTH == 0])

0

### BLDFRONT

In [223]:
len(df[df.BLDFRONT == 0])

0

### BLDDEPTH

In [224]:
len(df[df.BLDDEPTH == 0])

0

### FULLVAL

In [225]:
len(df[df.FULLVAL == 0])

0

### AVLAND

In [226]:
len(df[df.AVLAND == 0])

0

In [227]:
len(df[df.AVLAND2 == 0])

0

In [228]:
len(df[pd.isnull(df.AVLAND)])

0

In [229]:
len(df[df.AVLAND2 == 0])

0

### AVTOT

In [230]:
len(df[df.AVTOT == 0])

0

In [231]:
len(df[df.AVTOT2 == 0])

0

In [232]:
len(df[pd.isnull(df.AVTOT2)])

0

In [233]:
len(df[pd.isnull(df.AVTOT)])

0

## EXLAND

In [234]:
len(df[df.EXLAND == 0])

0

In [235]:
len(df[pd.isnull(df.EXLAND)])

0

## EXTOT

In [236]:
len(df[df.EXTOT == 0])

0

In [237]:
len(df[pd.isnull(df.EXTOT)])

0

## Create New Variables

In [238]:
data = pd.DataFrame()

In [239]:
data['RECORD'] = df.RECORD

In [240]:
data['EASEMENT'] = df.EASEMENT

In [241]:
df['LOTAREA'] = df.LTFRONT * df.LTDEPTH
df['BLDAREA'] = df.BLDFRONT * df.BLDDEPTH
df['BLDVOL'] = df.BLDAREA * df.STORIES

In [242]:
data['VAL_LOT'] = df.FULLVAL / df.LOTAREA
data['VAL_BLD'] = df.FULLVAL / df.BLDAREA
data['VAL_VOL'] = df.FULLVAL / df.BLDVOL

In [243]:
data['LAND_LOT'] = df.AVLAND / df.LOTAREA
data['LAND_BLD'] = df.AVLAND / df.BLDAREA
data['LAND_VOL'] = df.AVLAND / df.BLDVOL

In [244]:
data['TOT_LOT'] = df.AVTOT / df.LOTAREA
data['TOT_BLD'] = df.AVTOT / df.BLDAREA
data['TOT_VOL'] = df.AVTOT / df.BLDVOL

In [245]:
data.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1048565,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574
RECORD,1,2,3,4,5,6,7,8,9,10,...,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574,1048575
EASEMENT,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
VAL_LOT,226.11,166.00,421.05,71.50,145.77,291.00,161.76,173.33,171.88,292.50,...,86.35,78.16,128.39,1.60,129.04,184.40,10.00,66.75,330.00,105.89
VAL_BLD,628.09,581.23,118.15,103.95,448.34,786.49,497.54,472.73,641.40,600.00,...,86.35,240.41,448.18,13.75,233.77,283.69,30.77,96.70,1031.25,118.35
VAL_VOL,314.04,193.74,23.63,20.79,249.35,393.24,82.92,236.36,320.70,300.00,...,7.85,120.20,224.09,13.75,77.92,70.92,3.85,2.25,381.94,39.45
LAND_LOT,6.85,5.32,0.27,1.23,6.15,8.90,9.29,5.82,3.75,7.54,...,3.64,0.26,4.69,0.72,0.65,0.62,1.46,1.78,6.54,9.00
LAND_BLD,19.04,18.63,0.07,1.79,18.90,24.06,28.58,15.87,14.01,15.46,...,3.64,0.79,16.36,6.19,1.18,0.96,4.49,2.58,20.43,10.06
LAND_VOL,9.52,6.21,0.01,0.36,10.51,12.03,4.76,7.94,7.01,7.73,...,0.33,0.39,8.18,6.19,0.39,0.24,0.56,0.06,7.57,3.35
TOT_LOT,10.85,8.52,0.27,1.23,16.57,14.93,72.79,9.31,9.91,12.36,...,9.82,2.81,7.45,0.72,20.33,17.82,4.50,30.04,11.88,47.65
TOT_BLD,30.15,29.85,0.07,1.79,50.97,40.35,223.89,25.39,36.99,25.36,...,9.82,8.65,26.01,6.19,36.82,27.41,13.84,43.51,37.12,53.26
TOT_VOL,15.07,9.95,0.01,0.36,28.35,20.18,37.32,12.70,18.50,12.68,...,0.89,4.32,13.01,6.19,12.27,6.85,1.73,1.01,13.75,17.75

In [246]:
df.BBLE.head()

0     3046020035
1     5046820019
2     3074790028
3     4027980132
4    1006950027E
Name: BBLE, dtype: object

In [247]:
data['RECORD'] = df.RECORD
data['BBLE'] = df.BBLE
data['TAXCLASS'] = df.TAXCLASS
data['ZIP'] = df.ZIP

### Group by BORO

In [248]:
data['BORO'] = df.BBLE.str[0]
data.BORO.unique()

array([u'3', u'5', u'4', u'1', u'2'], dtype=object)

In [249]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,TOT_VOL,BBLE,TAXCLASS,ZIP,BORO
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,15.07,3046020035,1,11203.00,3
1,2,0,166.00,581.23,193.74,5.32,18.63,6.21,8.52,29.85,9.95,5046820019,1,10306.00,5
2,3,0,421.05,118.15,23.63,0.27,0.07,0.01,0.27,0.07,0.01,3074790028,1B,11235.00,3
3,4,0,71.50,103.95,20.79,1.23,1.79,0.36,1.23,1.79,0.36,4027980132,1B,11378.00,4
4,5,1,145.77,448.34,249.35,6.15,18.90,10.51,16.57,50.97,28.35,1006950027E,3,10011.00,1

####  Average VAL_LOT of buildings grouped by Borough

In [250]:
data = data.replace([np.inf, -np.inf], np.nan)

In [251]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['VAL_LOT'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_VAL_LOT_BORO']
group_boro = group_boro.reset_index()

In [252]:
group_boro.head()

  BORO AVG_VAL_LOT_BORO
0    1           418.13
1    2           141.92
2    3           247.03
3    4           174.59
4    5           130.41

In [253]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_VAL_LOT_BORO = data.AVG_VAL_LOT_BORO.astype('float64')
data.VAL_LOT = data.VAL_LOT.astype('float64')
data['VAL_LOT_BORO'] = data.VAL_LOT / data.AVG_VAL_LOT_BORO

In [254]:
group_boro

  BORO AVG_VAL_LOT_BORO
0    1           418.13
1    2           141.92
2    3           247.03
3    4           174.59
4    5           130.41

In [255]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,TOT_VOL,BBLE,TAXCLASS,ZIP,BORO,AVG_VAL_LOT_BORO,VAL_LOT_BORO
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,15.07,3046020035,1,11203.00,3,247.03,0.92
1,3,0,421.05,118.15,23.63,0.27,0.07,0.01,0.27,0.07,0.01,3074790028,1B,11235.00,3,247.03,1.70
2,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,12.70,3082020064,1,11236.00,3,247.03,0.70
3,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,12.68,3070780050,1,11223.00,3,247.03,1.18
4,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,17.50,3070900035,1,11223.00,3,247.03,1.39

In [256]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['VAL_BLD'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_VAL_BLD_BORO']
group_boro = group_boro.reset_index()

In [257]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_VAL_BLD_BORO = data.AVG_VAL_BLD_BORO.astype('float64')
data.VAL_BLD = data.VAL_BLD.astype('float64')
data['VAL_BLD_BORO'] = data.VAL_BLD / data.AVG_VAL_BLD_BORO

In [258]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,TOT_VOL,BBLE,TAXCLASS,ZIP,BORO,AVG_VAL_LOT_BORO,VAL_LOT_BORO,AVG_VAL_BLD_BORO,VAL_BLD_BORO
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,15.07,3046020035,1,11203.00,3,247.03,0.92,641.66,0.98
1,3,0,421.05,118.15,23.63,0.27,0.07,0.01,0.27,0.07,0.01,3074790028,1B,11235.00,3,247.03,1.70,641.66,0.18
2,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,12.70,3082020064,1,11236.00,3,247.03,0.70,641.66,0.74
3,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,12.68,3070780050,1,11223.00,3,247.03,1.18,641.66,0.94
4,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,17.50,3070900035,1,11223.00,3,247.03,1.39,641.66,1.61

In [259]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['VAL_VOL'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_VAL_VOL_BORO']
group_boro = group_boro.reset_index()

In [260]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_VAL_VOL_BORO = data.AVG_VAL_VOL_BORO.astype('float64')
data.VAL_VOL = data.VAL_VOL.astype('float64')
data['VAL_VOL_BORO'] = data.VAL_VOL / data.AVG_VAL_VOL_BORO

In [261]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,...,BBLE,TAXCLASS,ZIP,BORO,AVG_VAL_LOT_BORO,VAL_LOT_BORO,AVG_VAL_BLD_BORO,VAL_BLD_BORO,AVG_VAL_VOL_BORO,VAL_VOL_BORO
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,...,3046020035,1,11203.00,3,247.03,0.92,641.66,0.98,285.24,1.10
1,3,0,421.05,118.15,23.63,0.27,0.07,0.01,0.27,0.07,...,3074790028,1B,11235.00,3,247.03,1.70,641.66,0.18,285.24,0.08
2,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,...,3082020064,1,11236.00,3,247.03,0.70,641.66,0.74,285.24,0.83
3,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,...,3070780050,1,11223.00,3,247.03,1.18,641.66,0.94,285.24,1.05
4,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,...,3070900035,1,11223.00,3,247.03,1.39,641.66,1.61,285.24,1.81

In [262]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['LAND_LOT'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_LAND_LOT_BORO']
group_boro = group_boro.reset_index()

In [263]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_LAND_LOT_BORO = data.AVG_LAND_LOT_BORO.astype('float64')
data.LAND_LOT = data.LAND_LOT.astype('float64')
data['LAND_LOT_BORO'] = data.LAND_LOT / data.AVG_LAND_LOT_BORO

In [264]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,...,ZIP,BORO,AVG_VAL_LOT_BORO,VAL_LOT_BORO,AVG_VAL_BLD_BORO,VAL_BLD_BORO,AVG_VAL_VOL_BORO,VAL_VOL_BORO,AVG_LAND_LOT_BORO,LAND_LOT_BORO
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,...,11203.00,3,247.03,0.92,641.66,0.98,285.24,1.10,7.60,0.90
1,3,0,421.05,118.15,23.63,0.27,0.07,0.01,0.27,0.07,...,11235.00,3,247.03,1.70,641.66,0.18,285.24,0.08,7.60,0.04
2,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,...,11236.00,3,247.03,0.70,641.66,0.74,285.24,0.83,7.60,0.77
3,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,...,11223.00,3,247.03,1.18,641.66,0.94,285.24,1.05,7.60,0.99
4,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,...,11223.00,3,247.03,1.39,641.66,1.61,285.24,1.81,7.60,0.84

In [265]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['LAND_BLD'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_LAND_BLD_BORO']
group_boro = group_boro.reset_index()

In [266]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_LAND_BLD_BORO = data.AVG_LAND_BLD_BORO.astype('float64')
data.LAND_BLD = data.LAND_BLD.astype('float64')
data['LAND_BLD_BORO'] = data.LAND_BLD / data.AVG_LAND_BLD_BORO

In [267]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,...,AVG_VAL_LOT_BORO,VAL_LOT_BORO,AVG_VAL_BLD_BORO,VAL_BLD_BORO,AVG_VAL_VOL_BORO,VAL_VOL_BORO,AVG_LAND_LOT_BORO,LAND_LOT_BORO,AVG_LAND_BLD_BORO,LAND_BLD_BORO
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,...,247.03,0.92,641.66,0.98,285.24,1.10,7.60,0.90,32.35,0.59
1,3,0,421.05,118.15,23.63,0.27,0.07,0.01,0.27,0.07,...,247.03,1.70,641.66,0.18,285.24,0.08,7.60,0.04,32.35,0.00
2,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,...,247.03,0.70,641.66,0.74,285.24,0.83,7.60,0.77,32.35,0.49
3,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,...,247.03,1.18,641.66,0.94,285.24,1.05,7.60,0.99,32.35,0.48
4,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,...,247.03,1.39,641.66,1.61,285.24,1.81,7.60,0.84,32.35,0.59

In [268]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['LAND_VOL'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_LAND_VOL_BORO']
group_boro = group_boro.reset_index()

In [269]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_LAND_VOL_BORO = data.AVG_LAND_VOL_BORO.astype('float64')
data.LAND_VOL = data.LAND_VOL.astype('float64')
data['LAND_VOL_BORO'] = data.LAND_VOL / data.AVG_LAND_VOL_BORO

In [270]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['TOT_LOT'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_TOT_LOT_BORO']
group_boro = group_boro.reset_index()

In [271]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_TOT_LOT_BORO = data.AVG_TOT_LOT_BORO.astype('float64')
data.TOT_LOT = data.TOT_LOT.astype('float64')
data['TOT_LOT_BORO'] = data.TOT_LOT / data.AVG_TOT_LOT_BORO

In [272]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['TOT_BLD'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_TOT_BLD_BORO']
group_boro = group_boro.reset_index()

In [273]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_TOT_BLD_BORO = data.AVG_TOT_BLD_BORO.astype('float64')
data.TOT_BLD = data.TOT_BLD.astype('float64')
data['TOT_BLD_BORO'] = data.TOT_BLD / data.AVG_TOT_BLD_BORO

In [274]:
group_boro = data.groupby('BORO').apply(lambda x: "{0:.2f}".format(x['TOT_VOL'].dropna().mean()))
group_boro = pd.DataFrame(group_boro)
group_boro.columns = ['AVG_TOT_VOL_BORO']
group_boro = group_boro.reset_index()

In [275]:
data = data.merge(group_boro, left_on='BORO', right_on='BORO',how='outer')
data.AVG_TOT_VOL_BORO = data.AVG_TOT_VOL_BORO.astype('float64')
data.TOT_VOL = data.TOT_VOL.astype('float64')
data['TOT_VOL_BORO'] = data.TOT_VOL / data.AVG_TOT_VOL_BORO

### Group by TAXCLASS

In [276]:
len(df.TAXCLASS.unique())

11

In [277]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['VAL_LOT'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_VAL_LOT_TAX']
group_tax = group_tax.reset_index()

In [278]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_VAL_LOT_TAX = data.AVG_VAL_LOT_TAX.astype('float64')
data['VAL_LOT_TAX'] = data.VAL_LOT / data.AVG_VAL_LOT_TAX

In [279]:
group_tax

   TAXCLASS  AVG_VAL_LOT_TAX
0         1           231.26
1        1A           139.94
2        1B           149.63
3        1C           254.87
4        1D           103.69
5         2           111.56
6        2A           410.03
7        2B           548.42
8        2C           275.72
9         3           499.86
10        4           270.01

In [280]:
data.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1048565,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574
RECORD,1,8,10,12,17,23,24,27,29,30,...,625490,693858,720622,808267,828890,830420,837497,876351,970852,1007690
EASEMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
VAL_LOT,226.11,173.33,292.50,343.33,172.62,131.00,206.57,311.61,364.71,217.55,...,95.82,101.16,128.82,147.33,113.61,85.50,16.33,91.24,105.86,29.95
VAL_BLD,628.09,472.73,600.00,1030.00,462.20,721.76,593.60,640.52,1176.47,969.09,...,13208.02,16041.67,2683.82,22343.75,21244.34,13624.66,2138.16,8642.21,13202.95,419.90
VAL_VOL,314.04,236.36,300.00,515.00,231.10,360.88,593.60,320.26,588.24,484.55,...,6604.01,16041.67,1341.91,22343.75,21244.34,13624.66,2138.16,8642.21,13202.95,419.90
LAND_LOT,6.85,5.82,7.54,6.41,7.34,4.09,6.81,7.45,7.63,4.51,...,2.08,2.21,2.83,3.19,2.46,1.81,0.36,1.96,2.32,0.98
LAND_BLD,19.04,15.87,15.46,19.24,19.65,22.53,19.56,15.31,24.62,20.10,...,287.09,351.12,58.91,484.53,459.24,289.10,47.69,185.36,288.98,13.79
LAND_VOL,9.52,7.94,7.73,9.62,9.82,11.26,19.56,7.65,12.31,10.05,...,143.55,351.12,29.46,484.53,459.24,289.10,47.69,185.36,288.98,13.79
TOT_LOT,10.85,9.31,12.36,11.67,10.22,6.53,10.82,13.52,13.33,7.92,...,3.84,4.05,5.12,5.96,4.61,3.54,0.66,3.78,4.22,1.79
TOT_BLD,30.15,25.39,25.36,35.00,27.36,35.99,31.08,27.78,43.00,35.30,...,529.01,642.19,106.62,903.75,862.45,564.44,86.92,357.66,525.81,25.04
TOT_VOL,15.07,12.70,12.68,17.50,13.68,17.99,31.08,13.89,21.50,17.65,...,264.51,642.19,53.31,903.75,862.45,564.44,86.92,357.66,525.81,25.04
BBLE,3046020035,3082020064,3070780050,3070900035,3046840031,3079720012,3086450012,3081870110,3065360082,3086380028,...,2055140122,2055100001,2055170140,2055160161,2055160215,2055150001,2054960001,2055150120,2055160101,2055160098
TAXCLASS,1,1,1,1,1,1,1,1,1,1,...,1D,1D,1D,1D,1D,1D,1D,1D,1D,1D
ZIP,11203.00,11236.00,11223.00,11223.00,11203.00,11234.00,11234.00,11236.00,11230.00,11234.00,...,10465.00,10465.00,10465.00,10465.00,10465.00,10465.00,10465.00,10465.00,10465.00,10465.00
BORO,3,3,3,3,3,3,3,3,3,3,...,2,2,2,2,2,2,2,2,2,2
AVG_VAL_LOT_BORO,247.03,247.03,247.03,247.03,247.03,247.03,247.03,247.03,247.03,247.03,...,141.92,141.92,141.92,141.92,141.92,141.92,141.92,141.92,141.92,141.92
VAL_LOT_BORO,0.92,0.70,1.18,1.39,0.70,0.53,0.84,1.26,1.48,0.88,...,0.68,0.71,0.91,1.04,0.80,0.60,0.12,0.64,0.75,0.21
AVG_VAL_BLD_BORO,641.66,641.66,641.66,641.66,641.66,641.66,641.66,641.66,641.66,641.66,...,445.45,445.45,445.45,445.45,445.45,445.45,445.45,445.45,445.45,445.45
VAL_BLD_BORO,0.98,0.74,0.94,1.61,0.72,1.12,0.93,1.00,1.83,1.51,...,29.65,36.01,6.02,50.16,47.69,30.59,4.80,19.40,29.64,0.94
AVG_VAL_VOL_BORO,285.24,285.24,285.24,285.24,285.24,285.24,285.24,285.24,285.24,285.24,...,211.14,211.14,211.14,211.14,211.14,211.14,211.14,211.14,211.14,211.14
VAL_VOL_BORO,1.10,0.83,1.05,1.81,0.81,1.27,2.08,1.12,2.06,1.70,...,31.28,75.98,6.36,105.82,100.62,64.53,10.13,40.93,62.53,1.99
AVG_LAND_LOT_BORO,7.60,7.60,7.60,7.60,7.60,7.60,7.60,7.60,7.60,7.60,...,5.90,5.90,5.90,5.90,5.90,5.90,5.90,5.90,5.90,5.90
LAND_LOT_BORO,0.90,0.77,0.99,0.84,0.97,0.54,0.90,0.98,1.00,0.59,...,0.35,0.38,0.48,0.54,0.42,0.31,0.06,0.33,0.39,0.17
AVG_LAND_BLD_BORO,32.35,32.35,32.35,32.35,32.35,32.35,32.35,32.35,32.35,32.35,...,27.54,27.54,27.54,27.54,27.54,27.54,27.54,27.54,27.54,27.54
LAND_BLD_BORO,0.59,0.49,0.48,0.59,0.61,0.70,0.60,0.47,0.76,0.62,...,10.42,12.75,2.14,17.59,16.68,10.50,1.73,6.73,10.49,0.50
AVG_LAND_VOL_BORO,13.99,13.99,13.99,13.99,13.99,13.99,13.99,13.99,13.99,13.99,...,15.81,15.81,15.81,15.81,15.81,15.81,15.81,15.81,15.81,15.81
LAND_VOL_BORO,0.68,0.57,0.55,0.69,0.70,0.81,1.40,0.55,0.88,0.72,...,9.08,22.21,1.86,30.65,29.05,18.29,3.02,11.72,18.28,0.87
AVG_TOT_LOT_BORO,18.77,18.77,18.77,18.77,18.77,18.77,18.77,18.77,18.77,18.77,...,16.13,16.13,16.13,16.13,16.13,16.13,16.13,16.13,16.13,16.13
TOT_LOT_BORO,0.58,0.50,0.66,0.62,0.54,0.35,0.58,0.72,0.71,0.42,...,0.24,0.25,0.32,0.37,0.29,0.22,0.04,0.23,0.26,0.11
AVG_TOT_BLD_BORO,58.21,58.21,58.21,58.21,58.21,58.21,58.21,58.21,58.21,58.21,...,61.17,61.17,61.17,61.17,61.17,61.17,61.17,61.17,61.17,61.17
TOT_BLD_BORO,0.52,0.44,0.44,0.60,0.47,0.62,0.53,0.48,0.74,0.61,...,8.65,10.50,1.74,14.77,14.10,9.23,1.42,5.85,8.60,0.41
AVG_TOT_VOL_BORO,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,23.40,...,27.15,27.15,27.15,27.15,27.15,27.15,27.15,27.15,27.15,27.15
TOT_VOL_BORO,0.64,0.54,0.54,0.75,0.58,0.77,1.33,0.59,0.92,0.75,...,9.74,23.65,1.96,33.29,31.77,20.79,3.20,13.17,19.37,0.92
AVG_VAL_LOT_TAX,231.26,231.26,231.26,231.26,231.26,231.26,231.26,231.26,231.26,231.26,...,103.69,103.69,103.69,103.69,103.69,103.69,103.69,103.69,103.69,103.69
VAL_LOT_TAX,0.98,0.75,1.26,1.48,0.75,0.57,0.89,1.35,1.58,0.94,...,0.92,0.98,1.24,1.42,1.10,0.82,0.16,0.88,1.02,0.29

In [281]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['VAL_BLD'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_VAL_BLD_TAX']
group_tax = group_tax.reset_index()

In [282]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_VAL_BLD_TAX = data.AVG_VAL_BLD_TAX.astype('float64')
data['VAL_BLD_TAX'] = data.VAL_BLD / data.AVG_VAL_BLD_TAX

In [283]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['VAL_VOL'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_VAL_VOL_TAX']
group_tax = group_tax.reset_index()

In [284]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_VAL_VOL_TAX = data.AVG_VAL_VOL_TAX.astype('float64')
data['VAL_VOL_TAX'] = data.VAL_VOL / data.AVG_VAL_VOL_TAX

In [285]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['LAND_LOT'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_LAND_LOT_TAX']
group_tax = group_tax.reset_index()

In [286]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_LAND_LOT_TAX = data.AVG_LAND_LOT_TAX.astype('float64')
data['LAND_LOT_TAX'] = data.LAND_LOT / data.AVG_LAND_LOT_TAX

In [287]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['LAND_BLD'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_LAND_BLD_TAX']
group_tax = group_tax.reset_index()

In [288]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_LAND_BLD_TAX = data.AVG_LAND_BLD_TAX.astype('float64')
data['LAND_BLD_TAX'] = data.LAND_BLD / data.AVG_LAND_BLD_TAX

In [289]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['LAND_VOL'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_LAND_VOL_TAX']
group_tax = group_tax.reset_index()

In [290]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_LAND_VOL_TAX = data.AVG_LAND_VOL_TAX.astype('float64')
data['LAND_VOL_TAX'] = data.LAND_VOL / data.AVG_LAND_VOL_TAX

In [291]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['TOT_LOT'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_TOT_LOT_TAX']
group_tax = group_tax.reset_index()

In [292]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_TOT_LOT_TAX = data.AVG_TOT_LOT_TAX.astype('float64')
data['TOT_LOT_TAX'] = data.TOT_LOT / data.AVG_TOT_LOT_TAX

In [293]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['TOT_BLD'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_TOT_BLD_TAX']
group_tax = group_tax.reset_index()

In [294]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_TOT_BLD_TAX = data.AVG_TOT_BLD_TAX.astype('float64')
data['TOT_BLD_TAX'] = data.TOT_BLD / data.AVG_TOT_BLD_TAX

In [295]:
group_tax = data.groupby('TAXCLASS').apply(lambda x: x['TOT_VOL'].dropna().mean())
group_tax = pd.DataFrame(group_tax)
group_tax.columns = ['AVG_TOT_VOL_TAX']
group_tax = group_tax.reset_index()

In [296]:
group_tax.head()

  TAXCLASS  AVG_TOT_VOL_TAX
0        1            14.97
1       1A            11.72
2       1B             3.11
3       1C             9.22
4       1D          1300.93

In [297]:
data = data.merge(group_tax, left_on='TAXCLASS', right_on='TAXCLASS',how='outer')
data.AVG_TOT_VOL_TAX = data.AVG_TOT_VOL_TAX.astype('float64')
data['TOT_VOL_TAX'] = data.TOT_VOL / data.AVG_TOT_VOL_TAX

### Group by ZIP3

In [298]:
df.ZIP = df.ZIP.astype('unicode')
data['ZIP3'] = df.ZIP.dropna().str[0:3]

In [299]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,...,LAND_BLD_TAX,AVG_LAND_VOL_TAX,LAND_VOL_TAX,AVG_TOT_LOT_TAX,TOT_LOT_TAX,AVG_TOT_BLD_TAX,TOT_BLD_TAX,AVG_TOT_VOL_TAX,TOT_VOL_TAX,ZIP3
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,...,1.05,8.93,1.07,9.73,1.12,30.47,0.99,14.97,1.01,112
1,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,...,0.88,8.93,0.89,9.73,0.96,30.47,0.83,14.97,0.85,103
2,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,...,0.86,8.93,0.87,9.73,1.27,30.47,0.83,14.97,0.85,112
3,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,...,1.07,8.93,1.08,9.73,1.20,30.47,1.15,14.97,1.17,113
4,17,0,172.62,462.20,231.10,7.34,19.65,9.82,10.22,27.36,...,1.09,8.93,1.10,9.73,1.05,30.47,0.90,14.97,0.91,100

In [300]:
df.ZIP.head()

0    11203.0
1    10306.0
2    11235.0
3    11378.0
4    10011.0
Name: ZIP, dtype: object

In [301]:
data = pd.concat([data, df['ZIP']], axis=1)

In [302]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['VAL_LOT'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_VAL_LOT_ZIP3']
group_zip3 = group_zip3.reset_index()

In [303]:
group_zip3.head()

  ZIP3  AVG_VAL_LOT_ZIP3
0  100            217.96
1  101            219.14
2  102            225.61
3  103            225.31
4  104            231.34

In [304]:
data.head()

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,...,AVG_LAND_VOL_TAX,LAND_VOL_TAX,AVG_TOT_LOT_TAX,TOT_LOT_TAX,AVG_TOT_BLD_TAX,TOT_BLD_TAX,AVG_TOT_VOL_TAX,TOT_VOL_TAX,ZIP3,ZIP
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,...,8.93,1.07,9.73,1.12,30.47,0.99,14.97,1.01,112,11203.0
1,8,0,173.33,472.73,236.36,5.82,15.87,7.94,9.31,25.39,...,8.93,0.89,9.73,0.96,30.47,0.83,14.97,0.85,103,10306.0
2,10,0,292.50,600.00,300.00,7.54,15.46,7.73,12.36,25.36,...,8.93,0.87,9.73,1.27,30.47,0.83,14.97,0.85,112,11235.0
3,12,0,343.33,1030.00,515.00,6.41,19.24,9.62,11.67,35.00,...,8.93,1.08,9.73,1.20,30.47,1.15,14.97,1.17,113,11378.0
4,17,0,172.62,462.20,231.10,7.34,19.65,9.82,10.22,27.36,...,8.93,1.10,9.73,1.05,30.47,0.90,14.97,0.91,100,10011.0

In [305]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_VAL_LOT_ZIP3 = data.AVG_VAL_LOT_ZIP3.astype('float64')
data['VAL_LOT_ZIP3'] = data.VAL_LOT / data.AVG_VAL_LOT_ZIP3

In [306]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['VAL_BLD'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_VAL_BLD_ZIP3']
group_zip3 = group_zip3.reset_index()

In [307]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_VAL_BLD_ZIP3 = data.AVG_VAL_BLD_ZIP3.astype('float64')
data['VAL_BLD_ZIP3'] = data.VAL_BLD / data.AVG_VAL_BLD_ZIP3

In [308]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['VAL_VOL'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_VAL_VOL_ZIP3']
group_zip3 = group_zip3.reset_index()

In [309]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_VAL_VOL_ZIP3 = data.AVG_VAL_VOL_ZIP3.astype('float64')
data['VAL_VOL_ZIP3'] = data.VAL_VOL / data.AVG_VAL_VOL_ZIP3

In [310]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['LAND_LOT'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_LAND_LOT_ZIP3']
group_zip3 = group_zip3.reset_index()

In [311]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_LAND_LOT_ZIP3 = data.AVG_LAND_LOT_ZIP3.astype('float64')
data['LAND_LOT_ZIP3'] = data.LAND_LOT / data.AVG_LAND_LOT_ZIP3

In [312]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['LAND_BLD'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_LAND_BLD_ZIP3']
group_zip3 = group_zip3.reset_index()

In [313]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_LAND_BLD_ZIP3 = data.AVG_LAND_BLD_ZIP3.astype('float64')
data['LAND_BLD_ZIP3'] = data.LAND_BLD / data.AVG_LAND_BLD_ZIP3

In [314]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['LAND_VOL'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_LAND_VOL_ZIP3']
group_zip3 = group_zip3.reset_index()

In [315]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_LAND_VOL_ZIP3 = data.AVG_LAND_VOL_ZIP3.astype('float64')
data['LAND_VOL_ZIP3'] = data.LAND_VOL / data.AVG_LAND_VOL_ZIP3

In [316]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['TOT_LOT'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_TOT_LOT_ZIP3']
group_zip3 = group_zip3.reset_index()

In [317]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_TOT_LOT_ZIP3 = data.AVG_TOT_LOT_ZIP3.astype('float64')
data['TOT_LOT_ZIP3'] = data.TOT_LOT / data.AVG_TOT_LOT_ZIP3

In [318]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['TOT_BLD'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_TOT_BLD_ZIP3']
group_zip3 = group_zip3.reset_index()

In [319]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_TOT_BLD_ZIP3 = data.AVG_TOT_BLD_ZIP3.astype('float64')
data['TOT_BLD_ZIP3'] = data.TOT_BLD / data.AVG_TOT_BLD_ZIP3

In [320]:
group_zip3 = data.groupby('ZIP3').apply(lambda x: x['TOT_VOL'].dropna().mean())
group_zip3 = pd.DataFrame(group_zip3)
group_zip3.columns = ['AVG_TOT_VOL_ZIP3']
group_zip3 = group_zip3.reset_index()

In [321]:
data = data.merge(group_zip3, left_on='ZIP3', right_on='ZIP3',how='outer')
data.AVG_TOT_VOL_ZIP3 = data.AVG_TOT_VOL_ZIP3.astype('float64')
data['TOT_VOL_ZIP3'] = data.TOT_VOL / data.AVG_TOT_VOL_ZIP3

### Gropy By Zip5

In [322]:
data['ZIP5'] = df.ZIP.dropna().str[0:5]
data['ZIP5'] = data['ZIP5']

In [323]:
data.ZIP5.head()

0    11203
1    10306
2    11235
3    11378
4    10011
Name: ZIP5, dtype: object

In [324]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['VAL_LOT'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_VAL_LOT_ZIP5']
group_zip5 = group_zip5.reset_index()

In [325]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_VAL_LOT_ZIP5 = data.AVG_VAL_LOT_ZIP5.astype('float64')
data['VAL_LOT_ZIP5'] = data.VAL_LOT / data.AVG_VAL_LOT_ZIP5

In [326]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['VAL_BLD'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_VAL_BLD_ZIP5']
group_zip5 = group_zip5.reset_index()

In [327]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_VAL_BLD_ZIP5 = data.AVG_VAL_BLD_ZIP5.astype('float64')
data['VAL_BLD_ZIP5'] = data.VAL_BLD / data.AVG_VAL_BLD_ZIP5

In [328]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['VAL_VOL'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_VAL_VOL_ZIP5']
group_zip5 = group_zip5.reset_index()

In [329]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_VAL_VOL_ZIP5 = data.AVG_VAL_VOL_ZIP5.astype('float64')
data['VAL_VOL_ZIP5'] = data.VAL_VOL / data.AVG_VAL_VOL_ZIP5

In [330]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['LAND_LOT'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_LAND_LOT_ZIP5']
group_zip5 = group_zip5.reset_index()

In [331]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_LAND_LOT_ZIP5 = data.AVG_LAND_LOT_ZIP5.astype('float64')
data['LAND_LOT_ZIP5'] = data.LAND_LOT / data.AVG_LAND_LOT_ZIP5

In [332]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['LAND_BLD'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_LAND_BLD_ZIP5']
group_zip5 = group_zip5.reset_index()

In [333]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_LAND_BLD_ZIP5 = data.AVG_LAND_BLD_ZIP5.astype('float64')
data['LAND_BLD_ZIP5'] = data.LAND_BLD / data.AVG_LAND_BLD_ZIP5

In [334]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['LAND_VOL'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_LAND_VOL_ZIP5']
group_zip5 = group_zip5.reset_index()

In [335]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_LAND_VOL_ZIP5 = data.AVG_LAND_VOL_ZIP5.astype('float64')
data['LAND_VOL_ZIP5'] = data.LAND_VOL / data.AVG_LAND_VOL_ZIP5

In [336]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['TOT_LOT'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_TOT_LOT_ZIP5']
group_zip5 = group_zip5.reset_index()

In [337]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_TOT_LOT_ZIP5 = data.AVG_TOT_LOT_ZIP5.astype('float64')
data['TOT_LOT_ZIP5'] = data.TOT_LOT / data.AVG_TOT_LOT_ZIP5

In [338]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['TOT_BLD'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_TOT_BLD_ZIP5']
group_zip5 = group_zip5.reset_index()

In [339]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_TOT_BLD_ZIP5 = data.AVG_TOT_BLD_ZIP5.astype('float64')
data['TOT_BLD_ZIP5'] = data.TOT_BLD / data.AVG_TOT_BLD_ZIP5

In [340]:
group_zip5 = data.groupby('ZIP5').apply(lambda x: x['TOT_VOL'].dropna().mean())
group_zip5 = pd.DataFrame(group_zip5)
group_zip5.columns = ['AVG_TOT_VOL_ZIP5']
group_zip5 = group_zip5.reset_index()

In [341]:
data = data.merge(group_zip5, left_on='ZIP5', right_on='ZIP5',how='outer')
data.AVG_TOT_VOL_ZIP5 = data.AVG_TOT_VOL_ZIP5.astype('float64')
data['TOT_VOL_ZIP5'] = data.TOT_VOL / data.AVG_TOT_VOL_ZIP5

## Group By BLDGCL

In [342]:
df.BLDGCL

0          B1
1          A5
2          V0
3          V0
4          U6
5          A5
6          R5
7          B1
8          A1
9          C0
10         R4
11         A5
12         A1
13         A2
14         B1
15         R4
16         A5
17         K1
18         V1
19         B3
20         K9
21         B1
22         B1
23         B9
24         R4
25         B1
26         A5
27         V0
28         B3
29         B2
           ..
1048545    C0
1048546    R3
1048547    C0
1048548    A1
1048549    C3
1048550    B9
1048551    B3
1048552    B2
1048553    G7
1048554    A2
1048555    G7
1048556    A2
1048557    A5
1048558    A2
1048559    R2
1048560    A9
1048561    R5
1048562    R4
1048563    F9
1048564    M9
1048565    R0
1048566    R3
1048567    A1
1048568    Z7
1048569    C2
1048570    C2
1048571    R4
1048572    R4
1048573    B1
1048574    C1
Name: BLDGCL, Length: 1048575, dtype: object

In [343]:
data['BLDGCL1'] = df.BLDGCL.dropna().str[0]

In [344]:
data.head(10)

,RECORD,EASEMENT,VAL_LOT,VAL_BLD,VAL_VOL,LAND_LOT,LAND_BLD,LAND_VOL,TOT_LOT,TOT_BLD,...,LAND_BLD_ZIP5,AVG_LAND_VOL_ZIP5,LAND_VOL_ZIP5,AVG_TOT_LOT_ZIP5,TOT_LOT_ZIP5,AVG_TOT_BLD_ZIP5,TOT_BLD_ZIP5,AVG_TOT_VOL_ZIP5,TOT_VOL_ZIP5,BLDGCL1
0,1,0,226.11,628.09,314.04,6.85,19.04,9.52,10.85,30.15,...,0.39,19.09,0.50,27.91,0.39,90.42,0.33,29.82,0.51,B
1,243,0,338.50,900.27,450.13,7.49,19.92,9.96,13.13,34.93,...,0.41,19.09,0.52,27.91,0.47,90.42,0.39,29.82,0.59,A
2,3102,0,137.24,491.36,245.68,3.10,11.11,5.55,4.86,17.41,...,0.23,19.09,0.29,27.91,0.17,90.42,0.19,29.82,0.29,V
3,7037,0,209.84,491.99,245.99,6.79,15.93,7.96,12.34,28.94,...,0.32,19.09,0.42,27.91,0.44,90.42,0.32,29.82,0.49,V
4,8870,0,434.34,737.56,245.85,4.89,8.30,2.77,15.01,25.49,...,0.17,19.09,0.14,27.91,0.54,90.42,0.28,29.82,0.28,U
5,8900,0,206.80,615.48,307.74,3.09,9.18,4.59,5.62,16.72,...,0.19,19.09,0.24,27.91,0.20,90.42,0.18,29.82,0.28,A
6,8949,0,349.00,671.15,223.72,11.17,21.48,7.16,20.30,39.05,...,0.44,19.09,0.38,27.91,0.73,90.42,0.43,29.82,0.44,R
7,9854,0,418.12,696.88,348.44,8.26,13.77,6.88,10.37,17.28,...,0.28,19.09,0.36,27.91,0.37,90.42,0.19,29.82,0.29,B
8,11279,0,332.68,628.40,209.47,7.33,13.85,4.62,11.41,21.56,...,0.28,19.09,0.24,27.91,0.41,90.42,0.24,29.82,0.24,A
9,12242,0,227.14,428.57,214.29,7.75,14.61,7.31,13.44,25.35,...,0.30,19.09,0.38,27.91,0.48,90.42,0.28,29.82,0.42,C

In [345]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['VAL_LOT'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_VAL_LOT_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [346]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_VAL_LOT_BLDGCL = data.AVG_VAL_LOT_BLDGCL.astype('float64')
data['VAL_LOT_BLDGCL'] = data.VAL_LOT / data.AVG_VAL_LOT_BLDGCL

In [347]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['VAL_BLD'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_VAL_BLD_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [348]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_VAL_BLD_BLDGCL = data.AVG_VAL_BLD_BLDGCL.astype('float64')
data['VAL_BLD_BLDGCL'] = data.VAL_BLD / data.AVG_VAL_BLD_BLDGCL

In [349]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['VAL_VOL'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_VAL_VOL_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [350]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_VAL_VOL_BLDGCL = data.AVG_VAL_VOL_BLDGCL.astype('float64')
data['VAL_VOL_BLDGCL'] = data.VAL_VOL / data.AVG_VAL_VOL_BLDGCL

In [351]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['LAND_LOT'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_LAND_LOT_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [352]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_LAND_LOT_BLDGCL = data.AVG_LAND_LOT_BLDGCL.astype('float64')
data['LAND_LOT_BLDGCL'] = data.LAND_LOT / data.AVG_LAND_LOT_BLDGCL

In [353]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['LAND_BLD'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_LAND_BLD_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [354]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_LAND_BLD_BLDGCL = data.AVG_LAND_BLD_BLDGCL.astype('float64')
data['LAND_BLD_BLDGCL'] = data.LAND_BLD / data.AVG_LAND_BLD_BLDGCL

In [355]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['LAND_VOL'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_LAND_VOL_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [356]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_LAND_VOL_BLDGCL = data.AVG_LAND_VOL_BLDGCL.astype('float64')
data['LAND_VOL_BLDGCL'] = data.LAND_VOL / data.AVG_LAND_VOL_BLDGCL

In [357]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['TOT_LOT'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_TOT_LOT_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [358]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_TOT_LOT_BLDGCL = data.AVG_TOT_LOT_BLDGCL.astype('float64')
data['TOT_LOT_BLDGCL'] = data.TOT_LOT / data.AVG_TOT_LOT_BLDGCL

In [359]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['TOT_BLD'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_TOT_BLD_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [360]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_TOT_BLD_BLDGCL = data.AVG_TOT_BLD_BLDGCL.astype('float64')
data['TOT_BLD_BLDGCL'] = data.TOT_BLD / data.AVG_TOT_BLD_BLDGCL

In [361]:
group_bldgcl = data.groupby('BLDGCL1').apply(lambda x: x['TOT_VOL'].dropna().mean())
group_bldgcl = pd.DataFrame(group_bldgcl)
group_bldgcl.columns = ['AVG_TOT_VOL_BLDGCL']
group_bldgcl = group_bldgcl.reset_index()

In [362]:
data = data.merge(group_bldgcl, left_on='BLDGCL1', right_on='BLDGCL1',how='outer')
data.AVG_TOT_VOL_BLDGCL = data.AVG_TOT_VOL_BLDGCL.astype('float64')
data['TOT_VOL_BLDGCL'] = data.TOT_VOL / data.AVG_TOT_VOL_BLDGCL

## Ratio of full value and assessed value

In [363]:
data['FULL_ASES'] = df.FULLVAL / df.AVTOT

## Ratio of exmpt value and assessed value

In [364]:
data['EX_ASES'] = df.EXTOT / df.AVTOT

## assessed value2 - assessed value 1

In [365]:
data['VAL_INC'] = (df.AVTOT2 - df.AVTOT) / df.AVTOT

In [366]:
list(data)

['RECORD',
 'EASEMENT',
 'VAL_LOT',
 'VAL_BLD',
 'VAL_VOL',
 'LAND_LOT',
 'LAND_BLD',
 'LAND_VOL',
 'TOT_LOT',
 'TOT_BLD',
 'TOT_VOL',
 'BBLE',
 'TAXCLASS',
 'ZIP',
 'BORO',
 'AVG_VAL_LOT_BORO',
 'VAL_LOT_BORO',
 'AVG_VAL_BLD_BORO',
 'VAL_BLD_BORO',
 'AVG_VAL_VOL_BORO',
 'VAL_VOL_BORO',
 'AVG_LAND_LOT_BORO',
 'LAND_LOT_BORO',
 'AVG_LAND_BLD_BORO',
 'LAND_BLD_BORO',
 'AVG_LAND_VOL_BORO',
 'LAND_VOL_BORO',
 'AVG_TOT_LOT_BORO',
 'TOT_LOT_BORO',
 'AVG_TOT_BLD_BORO',
 'TOT_BLD_BORO',
 'AVG_TOT_VOL_BORO',
 'TOT_VOL_BORO',
 'AVG_VAL_LOT_TAX',
 'VAL_LOT_TAX',
 'AVG_VAL_BLD_TAX',
 'VAL_BLD_TAX',
 'AVG_VAL_VOL_TAX',
 'VAL_VOL_TAX',
 'AVG_LAND_LOT_TAX',
 'LAND_LOT_TAX',
 'AVG_LAND_BLD_TAX',
 'LAND_BLD_TAX',
 'AVG_LAND_VOL_TAX',
 'LAND_VOL_TAX',
 'AVG_TOT_LOT_TAX',
 'TOT_LOT_TAX',
 'AVG_TOT_BLD_TAX',
 'TOT_BLD_TAX',
 'AVG_TOT_VOL_TAX',
 'TOT_VOL_TAX',
 'ZIP3',
 u'ZIP',
 'AVG_VAL_LOT_ZIP3',
 'VAL_LOT_ZIP3',
 'AVG_VAL_BLD_ZIP3',
 'VAL_BLD_ZIP3',
 'AVG_VAL_VOL_ZIP3',
 'VAL_VOL_ZIP3',
 'AVG_LAND_LOT_ZIP3',
 'LAND_LOT_ZIP3',
 'AVG_LAND_BLD_ZIP3',
 'LAND_BLD_ZIP3',
 'AVG_LAND_VOL_ZIP3',
 'LAND_VOL_ZIP3',
 'AVG_TOT_LOT_ZIP3',
 'TOT_LOT_ZIP3',
 'AVG_TOT_BLD_ZIP3',
 'TOT_BLD_ZIP3',
 'AVG_TOT_VOL_ZIP3',
 'TOT_VOL_ZIP3',
 'ZIP5',
 'AVG_VAL_LOT_ZIP5',
 'VAL_LOT_ZIP5',
 'AVG_VAL_BLD_ZIP5',
 'VAL_BLD_ZIP5',
 'AVG_VAL_VOL_ZIP5',
 'VAL_VOL_ZIP5',
 'AVG_LAND_LOT_ZIP5',
 'LAND_LOT_ZIP5',
 'AVG_LAND_BLD_ZIP5',
 'LAND_BLD_ZIP5',
 'AVG_LAND_VOL_ZIP5',
 'LAND_VOL_ZIP5',
 'AVG_TOT_LOT_ZIP5',
 'TOT_LOT_ZIP5',
 'AVG_TOT_BLD_ZIP5',
 'TOT_BLD_ZIP5',
 'AVG_TOT_VOL_ZIP5',
 'TOT_VOL_ZIP5',
 'BLDGCL1',
 'AVG_VAL_LOT_BLDGCL',
 'VAL_LOT_BLDGCL',
 'AVG_VAL_BLD_BLDGCL',
 'VAL_BLD_BLDGCL',
 'AVG_VAL_VOL_BLDGCL',
 'VAL_VOL_BLDGCL',
 'AVG_LAND_LOT_BLDGCL',
 'LAND_LOT_BLDGCL',
 'AVG_LAND_BLD_BLDGCL',
 'LAND_BLD_BLDGCL',
 'AVG_LAND_VOL_BLDGCL',
 'LAND_VOL_BLDGCL',
 'AVG_TOT_LOT_BLDGCL',
 'TOT_LOT_BLDGCL',
 'AVG_TOT_BLD_BLDGCL',
 'TOT_BLD_BLDGCL',
 'AVG_TOT_VOL_BLDGCL',
 'TOT_VOL_BLDGCL',
 'FULL_ASES',
 'EX_ASES',
 'VAL_INC']

In [367]:
data.shape

(1048575, 112)

In [381]:
final_data = data[['RECORD', 'VAL_LOT','VAL_BLD','VAL_VOL','LAND_LOT','LAND_BLD','LAND_VOL','TOT_LOT','TOT_BLD',
'TOT_VOL', 'VAL_LOT_BORO', 'VAL_BLD_BORO', 'VAL_VOL_BORO', 'VAL_VOL_BORO',
 'LAND_LOT_BORO',
 'LAND_BLD_BORO',
 'LAND_VOL_BORO',
 'TOT_LOT_BORO',
 'TOT_BLD_BORO',
 'TOT_VOL_BORO',
 'VAL_LOT_TAX',
 'VAL_BLD_TAX',
 'VAL_VOL_TAX',
 'LAND_LOT_TAX',
 'LAND_BLD_TAX',
 'LAND_VOL_TAX',
 'TOT_LOT_TAX',
 'TOT_BLD_TAX',
 'TOT_VOL_TAX',
 'VAL_LOT_ZIP3',
 'VAL_BLD_ZIP3',
 'VAL_VOL_ZIP3',
 'LAND_LOT_ZIP3',
 'LAND_BLD_ZIP3',
 'LAND_VOL_ZIP3',
 'TOT_LOT_ZIP3',
 'TOT_BLD_ZIP3',
 'TOT_VOL_ZIP3',
 'VAL_LOT_ZIP5',
 'VAL_BLD_ZIP5',
 'VAL_VOL_ZIP5',
 'LAND_LOT_ZIP5',
 'LAND_BLD_ZIP5',
 'LAND_VOL_ZIP5',
 'TOT_LOT_ZIP5',
 'TOT_BLD_ZIP5',
 'TOT_VOL_ZIP5',
 'VAL_LOT_BLDGCL',
 'VAL_BLD_BLDGCL',
 'VAL_VOL_BLDGCL',
 'LAND_LOT_BLDGCL',
 'LAND_BLD_BLDGCL',
 'LAND_VOL_BLDGCL',
 'TOT_LOT_BLDGCL',
 'TOT_BLD_BLDGCL',
 'TOT_VOL_BLDGCL',
 'EASEMENT',                  
 'FULL_ASES',
 'EX_ASES',
 'VAL_INC'                 
 ]]

In [382]:
final_data.shape

(1048575, 60)

In [383]:
final_data.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1048565,1048566,1048567,1048568,1048569,1048570,1048571,1048572,1048573,1048574
RECORD,1,9854,21360,24391,26534,29557,29660,30498,34498,34554,...,434685,893305,170627,259075,866236,852960,399608,960027,286271,867478
VAL_LOT,226.11,418.12,188.81,223.00,306.67,293.89,383.82,348.42,215.45,296.34,...,188.80,8.62,81.48,293.23,158.48,15.89,7.36,195.02,211.00,107.40
VAL_BLD,628.09,696.88,1001.26,838.35,589.74,480.91,705.41,871.05,430.91,637.96,...,590.00,31.82,321.91,1073.64,19.46,48.89,22.64,603.94,586.11,886.75
VAL_VOL,314.04,348.44,500.63,419.17,294.87,240.45,352.70,290.35,215.45,318.98,...,295.00,7.96,321.91,536.82,0.46,8.15,2.83,301.97,293.06,443.38
LAND_LOT,6.85,8.26,3.88,6.39,6.69,6.17,9.57,5.35,1.24,8.30,...,6.25,1.20,2.58,6.99,2.71,2.48,0.94,1.58,1.78,2.62
LAND_BLD,19.04,13.77,20.57,24.02,12.86,10.10,17.59,13.36,2.48,17.87,...,19.52,4.43,10.21,25.60,0.33,7.62,2.88,4.89,4.94,21.64
LAND_VOL,9.52,6.88,10.29,12.01,6.43,5.05,8.80,4.45,1.24,8.94,...,9.76,1.11,10.21,12.80,0.01,1.27,0.36,2.44,2.47,10.82
TOT_LOT,10.85,10.37,6.62,10.60,9.95,9.98,16.94,9.17,2.05,13.72,...,9.21,3.88,4.04,12.47,71.32,7.15,3.31,7.26,3.23,4.77
TOT_BLD,30.15,17.28,35.08,39.83,19.14,16.34,31.13,22.92,4.11,29.53,...,28.80,14.32,15.98,45.65,8.76,22.00,10.19,22.49,8.98,39.39
TOT_VOL,15.07,8.64,17.54,19.92,9.57,8.17,15.56,7.64,2.05,14.76,...,14.40,3.58,15.98,22.82,0.21,3.67,1.27,11.25,4.49,19.70
VAL_LOT_BORO,0.92,1.69,0.76,0.90,1.24,1.19,1.55,1.41,0.87,1.20,...,0.76,0.03,0.62,1.19,0.38,0.09,0.05,0.79,0.85,0.76
VAL_BLD_BORO,0.98,1.09,1.56,1.31,0.92,0.75,1.10,1.36,0.67,0.99,...,0.92,0.05,0.62,1.67,0.02,0.07,0.05,0.94,0.91,1.99
VAL_VOL_BORO,1.10,1.22,1.76,1.47,1.03,0.84,1.24,1.02,0.76,1.12,...,1.03,0.03,1.18,1.88,0.00,0.02,0.01,1.06,1.03,2.10
VAL_VOL_BORO,1.10,1.22,1.76,1.47,1.03,0.84,1.24,1.02,0.76,1.12,...,1.03,0.03,1.18,1.88,0.00,0.02,0.01,1.06,1.03,2.10
LAND_LOT_BORO,0.90,1.09,0.51,0.84,0.88,0.81,1.26,0.70,0.16,1.09,...,0.82,0.16,0.58,0.92,0.07,0.38,0.16,0.21,0.23,0.44
LAND_BLD_BORO,0.59,0.43,0.64,0.74,0.40,0.31,0.54,0.41,0.08,0.55,...,0.60,0.14,0.30,0.79,0.00,0.14,0.10,0.15,0.15,0.79
LAND_VOL_BORO,0.68,0.49,0.74,0.86,0.46,0.36,0.63,0.32,0.09,0.64,...,0.70,0.08,0.62,0.91,0.00,0.05,0.02,0.17,0.18,0.68
TOT_LOT_BORO,0.58,0.55,0.35,0.56,0.53,0.53,0.90,0.49,0.11,0.73,...,0.49,0.21,0.47,0.66,0.60,0.51,0.21,0.39,0.17,0.30
TOT_BLD_BORO,0.52,0.30,0.60,0.68,0.33,0.28,0.53,0.39,0.07,0.51,...,0.49,0.25,0.32,0.78,0.03,0.25,0.17,0.39,0.15,0.64
TOT_VOL_BORO,0.64,0.37,0.75,0.85,0.41,0.35,0.67,0.33,0.09,0.63,...,0.62,0.15,0.66,0.98,0.00,0.10,0.05,0.48,0.19,0.73
VAL_LOT_TAX,0.98,1.81,0.82,0.96,1.33,1.27,1.66,1.51,0.93,1.28,...,0.82,0.08,0.35,1.27,1.42,0.14,0.07,0.84,0.91,0.46
VAL_BLD_TAX,0.89,0.99,1.43,1.19,0.84,0.69,1.00,1.24,0.61,0.91,...,0.84,0.12,0.46,1.53,0.07,0.18,0.08,0.86,0.84,1.26
VAL_VOL_TAX,0.92,1.02,1.47,1.23,0.87,0.71,1.04,0.85,0.63,0.94,...,0.87,0.18,0.95,1.58,0.01,0.18,0.06,0.89,0.86,1.30
LAND_LOT_TAX,1.19,1.43,0.67,1.11,1.16,1.07,1.66,0.92,0.21,1.44,...,1.08,0.10,0.45,1.21,0.23,0.21,0.08,0.27,0.31,0.45
LAND_BLD_TAX,1.05,0.76,1.14,1.33,0.71,0.56,0.97,0.74,0.14,0.99,...,1.08,0.12,0.57,1.42,0.01,0.21,0.08,0.27,0.27,1.20
LAND_VOL_TAX,1.07,0.77,1.15,1.35,0.72,0.57,0.98,0.50,0.14,1.00,...,1.09,0.11,1.14,1.43,0.00,0.12,0.03,0.27,0.28,1.21
TOT_LOT_TAX,1.12,1.07,0.68,1.09,1.02,1.03,1.74,0.94,0.21,1.41,...,0.95,0.08,0.42,1.28,1.46,0.15,0.07,0.75,0.33,0.49
TOT_BLD_TAX,0.99,0.57,1.15,1.31,0.63,0.54,1.02,0.75,0.13,0.97,...,0.95,0.12,0.52,1.50,0.07,0.18,0.08,0.74,0.29,1.29
TOT_VOL_TAX,1.01,0.58,1.17,1.33,0.64,0.55,1.04,0.51,0.14,0.99,...,0.96,0.18,1.07,1.52,0.01,0.19,0.07,0.75,0.30,1.32
VAL_LOT_ZIP3,1.00,1.86,0.84,0.99,1.36,1.30,1.70,1.55,0.96,1.32,...,0.84,0.04,0.37,1.34,0.72,0.07,0.03,0.89,0.94,0.48
VAL_BLD_ZIP3,0.97,1.08,1.55,1.30,0.91,0.74,1.09,1.35,0.67,0.99,...,0.91,0.05,0.46,1.54,0.03,0.08,0.03,0.92,0.91,1.37
VAL_VOL_ZIP3,1.16,1.29,1.85,1.55,1.09,0.89,1.30,1.07,0.80,1.18,...,1.09,0.03,0.98,1.64,0.00,0.03,0.01,1.11,1.08,1.64
LAND_LOT_ZIP3,0.61,0.74,0.35,0.57,0.60,0.55,0.85,0.48,0.11,0.74,...,0.56,0.11,0.23,0.63,0.24,0.23,0.08,0.14,0.16,0.23
LAND_BLD_ZIP3,0.40,0.29,0.44,0.51,0.27,0.21,0.37,0.28,0.05,0.38,...,0.41,0.09,0.14,0.36,0.00,0.19,0.06,0.10,0.10,0.46
LAND_VOL_ZIP3,0.51,0.37,0.55,0.64,0.34,0.27,0.47,0.24,0.07,0.47,...,0.52,0.06,0.23,0.29,0.00,0.08,0.02,0.14,0.13,0.57
TOT_LOT_ZIP3,0.36,0.34,0.22,0.35,0.33,0.33,0.56,0.30,0.07,0.46,...,0.31,0.13,0.14,0.43,2.49,0.25,0.11,0.25,0.11,0.16
TOT_BLD_ZIP3,0.29,0.17,0.34,0.38,0.18,0.16,0.30,0.22,0.04,0.28,...,0.28,0.14,0.14,0.39,0.07,0.25,0.11,0.23,0.09,0.38
TOT_VOL_ZIP3,0.46,0.26,0.54,0.61,0.29,0.25,0.48,0.23,0.06,0.45,...,0.44,0.11,0.29,0.41,0.00,0.13,0.04,0.39,0.14,0.60
VAL_LOT_ZIP5,1.04,1.92,0.87,1.03,1.41,1.35,1.76,1.60,0.99,1.36,...,0.79,0.04,0.38,1.18,0.64,0.07,0.03,0.92,0.97,0.53
VAL_BLD_ZIP5,0.93,1.03,1.48,1.24,0.87,0.71,1.04,1.28,0.64,0.94,...,0.85,0.02,0.21,1.83,0.03,0.09,0.04,0.93,0.94,1.52
VAL_VOL_ZIP5,1.07,1.19,1.71,1.43,1.01,0.82,1.21,0.99,0.74,1.09,...,1.17,0.01,0.26,2.13,0.00,0.03,0.01,1.07,1.01,1.63
LAND_LOT_ZIP5,0.65,0.78,0.37,0.60,0.63,0.58,0.90,0.50,0.12,0.78,...,0.45,0.10,0.22,0.58,0.23,0.24,0.09,0.16,0.18,0.26
LAND_BLD_ZIP5,0.39,0.28,0.42,0.49,0.26,0.21,0.36,0.27,0.05,0.36,...,0.45,0.01,0.02,0.83,0.01,0.24,0.09,0.13,0.10,0.55
LAND_VOL_ZIP5,0.50,0.36,0.54,0.63,0.34,0.26,0.46,0.23,0.06,0.47,...,0.75,0.00,0.02,0.98,0.00,0.08,0.03,0.14,0.08,0.45
TOT_LOT_ZIP5,0.39,0.37,0.24,0.38,0.36,0.36,0.61,0.33,0.07,0.49,...,0.22,0.13,0.14,0.38,2.18,0.27,0.11,0.28,0.11,0.18
TOT_BLD_ZIP5,0.33,0.19,0.39,0.44,0.21,0.18,0.34,0.25,0.05,0.33,...,0.24,0.03,0.03,0.66,0.13,0.34,0.12,0.30,0.10,0.52
TOT_VOL_ZIP5,0.51,0.29,0.59,0.67,0.32,0.27,0.52,0.26,0.07,0.50,...,0.57,0.01,0.03,1.03,0.01,0.15,0.06,0.41,0.11,0.58
VAL_LOT_BLDGCL,1.01,1.86,0.84,0.99,1.37,1.31,1.71,1.55,0.96,1.32,...,0.83,0.04,0.36,1.29,0.70,0.07,0.03,0.86,0.93,0.47
VAL_BLD_BLDGCL,0.93,1.03,1.48,1.24,0.87,0.71,1.04,1.29,0.64,0.94,...,1.02,0.05,0.56,1.85,0.03,0.08,0.04,1.04,1.01,1.53
VAL_VOL_BLDGCL,1.06,1.18,1.70,1.42,1.00,0.81,1.19,0.98,0.73,1.08,...,1.17,0.03,1.28,2.13,0.00,0.03,0.01,1.20,1.16,1.76
LAND_LOT_BLDGCL,0.60,0.72,0.34,0.55,0.58,0.54,0.83,0.46,0.11,0.72,...,0.40,0.08,0.17,0.45,0.17,0.16,0.06,0.10,0.11,0.17
LAND_BLD_BLDGCL,0.32,0.23,0.35,0.41,0.22,0.17,0.30,0.23,0.04,0.30,...,0.63,0.14,0.33,0.83,0.01,0.25,0.09,0.16,0.16,0.70
LAND_VOL_BLDGCL,0.34,0.25,0.37,0.43,0.23,0.18,0.31,0.16,0.04,0.32,...,1.01,0.11,1.05,1.32,0.00,0.13,0.04,0.25,0.25,1.12
TOT_LOT_BLDGCL,0.36,0.34,0.22,0.35,0.33,0.33,0.56,0.30,0.07,0.45,...,0.24,0.10,0.10,0.32,1.83,0.18,0.09,0.19,0.08,0.12
TOT_BLD_BLDGCL,0.25,0.14,0.29,0.33,0.16,0.14,0.26,0.19,0.03,0.25,...,0.40,0.20,0.22,0.64,0.12,0.31,0.14,0.31,0.13,0.55
TOT_VOL_BLDGCL,0.34,0.20,0.40,0.45,0.22,0.19,0.36,0.17,0.05,0.34,...,0.72,0.18,0.80,1.15,0.01,0.18,0.06,0.57,0.23,0.99
EASEMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FULL_ASES,20.83,19.47,1580.25,58.05,8.80,19.49,2.22,18.62,17.34,23.66,...,8.80,27.80,17.23,2.22,6.35,10.35,2.22,2.22,27.78,2.22
EX_ASES,0.08,0.08,114.71,4.79,0.17,0.31,0.04,0.42,0.24,0.05,...,0.17,0.99,0.06,1.00,0.16,0.21,0.25,0.96,0.05,0.04
VAL_INC,0.00,0.00,0.00,0.00,0.00,0.00,0.11,0.00,0.00,0.00,...,0.00,0.00,0.00,-0.11,0.00,0.00,-0.10,0.01,0.00,0.11

In [384]:
import xlsxwriter

In [ ]:
%%time
writer = pd.ExcelWriter('data.xlsx', engine='xlsxwriter')
data.to_excel(writer, sheet_name='sheet1')
writer.save()